<div class="login-container">
    <h2>Entrar</h2>
        <form class="content-form" [formGroup]="loginForm"(submit)="submitLogin()">
        <input type="email" placeholder="Usuário" required formControlName="email">
        <input type="password" placeholder="Senha" required formControlName="password">
        <input type="submit" value="Entrar">
    </form>
    <br>
    <span><a type="button" (click)="goToUrl()">Eu não possuo uma conta</a></span>
    <br>
    <button routerLink="/home">Continuar</button>
</div>