<div class="sidebar">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">Sobre</a></li>
      <li><a routerLink="/services">Serviços</a></li>
      <li><a routerLink="/contact">Contato</a></li>
    </ul>
  </div>

  <!-- <div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
  (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar>
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Gerenciamento</div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <div *ngIf="currentUser.role === 'Supplier'">
              <div class="vsm-item">
                <a routerLink="/dashboard/main" routerLinkActive="active-item" class="vsm-link">
                  <i class="vsm-icon fa fa-line-chart"></i>
                  <span class="vsm-title">Dashboard</span>
                </a>
              </div>
            </div>
            <div *ngIf="currentUser.role === 'Client' || currentUser.role === 'Admin';">
              <div class="vsm-item">
                <a routerLink="/dashboard/main" routerLinkActive="active-item" class="vsm-link">
                  <i class="vsm-icon fa fa-line-chart"></i>
                  <span class="vsm-title">Dashboard</span>
                </a>
              </div>
            </div>
            <div *ngIf="currentUser.role === 'Admin' || currentUser.role === 'Admin' || currentUser.role === 'Seller';">
              <div class="vsm-item">
                <a routerLink="/sellers/create" routerLinkActive="active-item" class="vsm-link">
                  <i class="vsm-icon fa fa-credit-card"></i>
                  <span class="vsm-title">Realizar Venda</span>
                </a>
              </div>
            </div>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <div *ngIf="currentUser.role === 'Supplier' || currentUser.role === 'Admin';">
                <ngb-panel id="pcpMenu">
                  <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="vsm-link">
                      <i class="vsm-icon fa fa-fw" aria-hidden="true" title="truck"></i>
                      <span class="vsm-title">PCP</span>
                      <i class="vsm-arrow"></i>
                    </button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="vsm-dropdown">
                      <div class="vsm-list">
                        <div class="vsm-item"><a routerLink="/iorders/slist" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span class="vsm-title">Gerenciar
                              Pedidos</span></a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </div>
              <div *ngIf="currentUser.role === 'Client' || currentUser.role === 'Admin';">
                <ngb-panel id="kiosksMenu">
                  <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="vsm-link">
                      <i class="vsm-icon fa fa-fw" aria-hidden="true" title="bank"></i>
                      <span class="vsm-title">Minhas Lojas</span>
                      <i class="vsm-arrow"></i>
                    </button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="vsm-dropdown">
                      <div class="vsm-list">
                        <div class="vsm-item"><a routerLink="/kiosks/list" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span class="vsm-title">Gerenciar
                              Lojas</span></a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="tapsMenu">
                  <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="vsm-link">
                      <i class="vsm-icon fa fa-fw" aria-hidden="true" title="filter"></i>
                      <span class="vsm-title">Torneiras</span>
                      <i class="vsm-arrow"></i>
                    </button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="vsm-dropdown">
                      <div class="vsm-list">
                        <div class="vsm-item"><a routerLink="/taps/list" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span class="vsm-title">Gerenciar
                              Torneiras</span></a>
                        </div>
                        <div class="vsm-item"><a routerLink="/taps/logs" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span
                              class="vsm-title">Registros</span></a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="hardwaresMenu">
                  <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="vsm-link">
                      <i class="vsm-icon fa fa-fw" aria-hidden="true" title="usb"></i>
                      <span class="vsm-title">Hardwares</span>
                      <i class="vsm-arrow"></i>
                    </button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="vsm-dropdown">
                      <div class="vsm-list">
                        <div class="vsm-item"><a routerLink="/hardwares/list" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span class="vsm-title">Gerenciar
                              Hardwares</span></a>
                        </div>
                        <div class="vsm-item"><a routerLink="/hardwares/logs" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span
                              class="vsm-title">Registros</span></a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="ordersMenu">
                  <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="vsm-link">
                      <i class="vsm-icon fa fa-fw" aria-hidden="true" title="pencil"></i>
                      <span class="vsm-title">Vendas</span>
                      <i class="vsm-arrow"></i>
                    </button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="vsm-dropdown">
                      <div class="vsm-list">
                        <div class="vsm-item"><a routerLink="/orders/list" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span class="vsm-title">Gerenciar
                              Vendas</span></a>
                        </div>
                        <div class="vsm-item"><a routerLink="/orders/logs" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span
                              class="vsm-title">Registros</span></a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="pceMenu">
                  <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="vsm-link">
                      <i class="vsm-icon fa fa-cubes" aria-hidden="true" title="truck"></i>
                      <span class="vsm-title">Estoque</span>
                      <i class="vsm-arrow"></i>
                    </button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="vsm-dropdown">
                      <div class="vsm-list">
                        <div class="vsm-item"><a routerLink="/kegs/list" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span class="vsm-title">Gerenciar
                              Barris</span></a>
                        </div>
                        <div class="vsm-item"><a routerLink="/iorders/create" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span class="vsm-title">Criar
                              Pedido</span></a>
                        </div>
                        <div class="vsm-item"><a routerLink="/iorders/list" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span class="vsm-title">Gerenciar
                              Pedidos</span></a>
                        </div>
                        <div class="vsm-item"><a routerLink="/suppliers/list" routerLinkActive="active-item"
                            [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span class="vsm-title">Gerenciar
                              Fornecedores</span></a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </div>
            </ngb-accordion>
            <div *ngIf="currentUser.role === 'Client' || currentUser.role === 'Admin';">
              <div class="vsm-header">Relátorios</div>
              <div class="vsm-item">
                <a routerLink="/reports/orders" routerLinkActive="active-item" class="vsm-link">
                  <i class="vsm-icon fa fa-fw" aria-hidden="true" title="address-book"></i>
                  <span class="vsm-title">Vendas</span>
                </a>
              </div>
            </div>
            <div class="vsm-header">Contato</div>
            <div class="vsm-item">
              <a routerLink="/contact" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon lnr-bubble" aria-hidden="true" title="address-book"></i>
                <span class="vsm-title">Fale conosco</span>
              </a>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div> -->